@import 'utilities.css';

:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}

body{
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 90%, 0 100%);
}
.container{
    max-width: 1152px;
    padding:0 15px;
    margin:0 auto;
}

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right:2rem;
    transition:all .3s ease;
}

header nav .left a:hover{
    color:var(--primary);
}

header nav {
    padding:2rem 0;
}

header nav .branding{
    margin-right:3rem 0;
}

.hero{
    padding:3rem 0;
}

.hero .right{
    color:var(--pure);
}

.hero .right h6{
    font-size:1.6rem;
    color:var(--primary);
    margin-bottom: 0.5rem;
}

.hero .right h1{
    font-size:3rem;
    font-weight: 100;
    line-height:1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span{
    color:var(--primary);
}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .right p a{
    color:var(--pure);
}

.hero .right p a:hover{
    color:var(--primary);
}

.hero .right{
    margin-top: -3rem;
}

section{
    padding:8rem 0;
}

section.about h1{
    margin-bottom:1rem;
    font-size:1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color:var(--primary);
}

section.about h3{
    font-size: 1rem;
    margin-bottom:1rem;
    font-weight: 400;
}

section.about p{
    font-family:"lato", sans-serif;
    color:var(--ternary);
    line-height: 1.9;
}

.section-heading{
    color:var(--secondary);
    text-align:center;
    margin-bottom:1rem;
    line-height:0.5;
    font-family:'lato', sans-serif;
    font-size:1.6rem;
    font-weight: 400;
}

.section-heading + p{
    color:var(--ternary);
    font-family:'lato', sans-serif;
    margin-bottom: 4rem;
    text-align: center;
}

.section-heading span{
    color:var(--primary);
}

section.services{
    background: var(--light);
}

section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:1.5rem;
    grid-row-gap: 1.5rem;
}

section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    text-align: center;
}

section.services .card-wrapper .card:hover{
    color:var(--pure);
    background: var(--primary)
}

section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size:1.2rem;
    margin-bottom:0.5rem;
}

section.services .card-wrapper .card p{
    font-family: 'lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}

section.freelancer{
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    color:var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 80%, 0 100%);
    padding-bottom: 13rem;
}

section.freelancer h1{
    font-size: 3rem;
    margin-bottom: 5rem;
}

section.reviews .slider .slide img{
    width:100px;
    height: 100px;
    border-radius:50%;
    object-fit: cover;
    margin-bottom:2rem;
    margin-top: 2rem;
}

section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:0 10rem;
}

section.reviews .slider .slide p{
    font-family: 'lato', sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}

section.reviews .slider .slide .span{
    font-size: 0.8;
    justify-content: right;
}

section.reviews .slider-dots .dots{
    list-style-type:none;
    display: flex!important;
    justify-content: center;
}

section.reviews .slider-dots{
    margin-top: 3rem;
}

section.reviews .slider-dots button{
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor:pointer;
}

section.reviews .dots li.slick-active button{
    background: var(--primary);
    width:15px;
}

section.works{
    background: var(--light);
}

section.works span{
    color: var(--primary);
}

section.works h1{
    margin-bottom: 5rem;
}

section.works .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:0.5rem;
}

section.works .card-wrapper .card img{
    width:350px;
    height: 350px;
    object-fit: cover;
}

section.works .card-wrapper .card img:hover{
    border: 10px solid transparent;
    padding: 15px;
}

section.contact{
    text-align: center;
}

section.contact img{
    margin-top: 2rem;
}

section.contact h1{
    font-weight: 400;
    margin-bottom:1rem;
}

section.contact h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 2rem;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

section.contact .input-wrap-2{
    display:flex;
    flex-direction: column;
}

section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

section.contact input{
    padding:0.5rem;
    font-size: 0.9rem;
}

section.contact .input-wrap-2 textarea{
    padding:0.5rem;
    margin-bottom: 2rem;
}

section.contact input:focus{
    background: var(--light)
}

section.contact .input-wrap-2 textarea:focus{
    background: var(--light)
}

footer{
    background: var(--dark);
    height: 100px;
}

.site-main-wrapper{
    position: relative;
}

.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background:none;
    border: none;
    cursor: pointer;
    outline: none;
    display: none;
}

.hamberger img{
    width:30px
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background:var(--light);
    width:100%;
    height: 100%;
    padding:2rem;
    padding-top:5rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}

.open{
    transform: translateX(0);
}

.times{
    position: fixed;
    top:30px;
    right:30px;
    background:none;
    border: none;
    cursor: pointer;
    outline: none;
}

.times img{
    width:30px
}

.mobile-nav ul{
    list-style-type: none;
}

.mobile-nav ul li a{
    color:var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}

@media (max-width:1024px){
    header #main-nav{
        display: none;
    }
    .hamberger{
        display: block;
    }
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:var(--pure);
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color:var(--primary);    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color:var(--primary);  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color:var(--primary);
}
